body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d9ad7c;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color: white;
}

#formres {
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}


