form {
    border: 1px solid #bd5734;
    border-radius: 5px;
    padding: 40px;
    background-color: #bd5734;
}

input {
    padding: 5px 20px;
    width: 95%;
    line-height: 36px;
    margin: 10px 0px;
    border: 1px solid #bd5734;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}

#submit {
    background-color: #feb236;
    margin-left: 0.6em;
    font-weight: bold;
    color: #c94c4c;
}


